In [3]:

import numpy as np  
import pandas as pd
import seaborn

In [25]:
number = 123456789

In [33]:
for count in range(1,12):
   
    if  count <= 6: 
        print(" " * (6-count)+ "*" * (count * 2-1))
    
    else:
        
        print(" " * (count-6)+ "*" * ((12-count) * 2-1))

     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

In [50]:
for i in range(4):
    for j in range(4):
     print(i+j ,end=' ')
    print()

0 1 2 3
1 2 3 4
2 3 4 5
3 4 5 6

#### 파이썬으로 다음 연산을 수행한다
다음 행렬과 같은 배열이 있다.

```
x = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
             11, 12, 13, 14, 15, 16, 17, 18, 19, 20])
```

1. 이 배열에서 3의 배수를 찾아라.
2. 이 배열에서 4로 나누면 1이 남는 수를 찾아라.
3. 이 배열에서 3으로 나누면 나누어지고 4로 나누면 1이 남는 수를 찾아라.

In [4]:

# 데이터프레임 생성
data = {'A': [1, 2, 3, 4, 5],
        'B': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)

# 데이터프레임에서 통계적 요약 보기
print(df.describe())

# 데이터프레임에서 조건에 맞는 행 선택
print(df[df['A'] > 2])

              A          B
count  5.000000   5.000000
mean   3.000000  30.000000
std    1.581139  15.811388
min    1.000000  10.000000
25%    2.000000  20.000000
50%    3.000000  30.000000
75%    4.000000  40.000000
max    5.000000  50.000000
   A   B
2  3  30
3  4  40
4  5  50

In [6]:
# 데이터 생성
names = np.array(['Alice', 'Bob', 'Charlie', 'David', 'Emily'])
ages = np.array([25, 30, 35, 40, 45])
scores = np.array([85, 90, 88, 92, 87])

# 넘파이 배열을 열로 변환하여 2차원 배열로 만들기
data_np = np.column_stack((names, ages, scores))

# DataFrame 생성
columns = ['Name', 'Age', 'Score']
df_np = pd.DataFrame(data_np, columns=columns)
print(df_np)

      Name Age Score
0    Alice  25    85
1      Bob  30    90
2  Charlie  35    88
3    David  40    92
4    Emily  45    87

In [7]:
# 데이터 생성
names = np.array(['Alice', 'Bob', 'Charlie', 'David', 'Emily'])
ages = np.array([25, 30, 35, 40, 45])
scores = np.array([85, 90, 88, 92, 87])

# 넘파이 배열을 열로 변환하여 2차원 배열로 만들기
data_np = np.column_stack((names, ages, scores))

# DataFrame 생성
columns = ['Name', 'Age', 'Score']
df_np = pd.DataFrame(data_np, columns=columns)
print(df_np)

      Name Age Score
0    Alice  25    85
1      Bob  30    90
2  Charlie  35    88
3    David  40    92
4    Emily  45    87

In [9]:
# 나이가 30 이상인 사람들만 선택
df_filtered = df[df['Age'] >= 30]
print(df_filtered)

# 점수가 90보다 큰 사람들만 선택
df_high_score = df[df['Score'] > 90]
print(df_high_score)

      Name  Age  Score
1      Bob   30     90
2  Charlie   35     88
3    David   40     92
4    Emily   45     87
    Name  Age  Score
3  David   40     92

In [10]:
# 나이대별 평균 점수 계산
age_group_avg_score = df.groupby('Age')['Score'].mean()
print(age_group_avg_score)

Age
25    85.0
30    90.0
35    88.0
40    92.0
45    87.0
Name: Score, dtype: float64

In [13]:

# 점수 컬럼을 NumPy 배열로 변환하여 평균 계산
scores = df['Score'].values
average_score = np.mean(scores)
print("Average Score:", average_score)

Average Score: 88.4

In [10]:
s =pd.Series([1,2,3], index =['d','w','q'])

s

d    1
w    2
q    3
dtype: int64


 **파이썬으로 다음 연산을 수행한다.**
판다스 그룹바이 통계 분석
1. 팁의 비율이 요일과 점심/저녁 여부, 인원수에 어떤 영향을 받는지 살펴본다. day time size
2. 어떤 요인이 가장 크게 작용하는지 판단할 수 있는 방법이 있는가?

In [6]:
tips = seaborn.load_dataset('tips')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
tips['tip_pct'] = tips.tip / tips.total_bill
tips

In [ ]:
tips.describe()

In [30]:
tips.groupby(['day','time']).size()

C:\Users\ITPS\AppData\Local\Temp\ipykernel_9152\3394154496.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  tips.groupby(['day','time']).size()

day   time
Thur  Lunch     61
      Dinner     1
Fri   Lunch      7
      Dinner    12
Sat   Lunch      0
      Dinner    87
Sun   Lunch      0
      Dinner    76
dtype: int64