In [ ]:
import pandas as pd
import numpy as np

### 다중 인덱스
데이터프레임에 여러 계층을 가지는 인덱스를 지정할 수 있음
데이터프레임 생성시 `columns` 인수로 다차원 리스트 형태를 지정하면 다중 인덱스로 지정할 수 있음

In [ ]:
df = pd.DataFrame(np.random.randn(5,4).round(2), columns=[['A','A','B','B'],['C1','C2','C1','C2']])
df

데이터 프레임의 `columns`속성의 `names`속성으로 각 열 인덱스에 대한 이름을
부여할 수 있음

In [ ]:
df.columns.names = ['Cidx1','Cidx2']
df

데이터 프레임 생성 시 `index` 인수로 다차원 리스트를 지정하면  
다차원 형태의 행 인덱스를 지정할 수 있음

행 인덱스의 이름은 데이터프레임 인스턴스의 `index` 속성의 `names` 속성으로 지정할 수 있음

In [27]:
df2= pd.DataFrame(np.random.randn(6,4).round(2), 
            columns=[['A','A','B','B'],['C1','C2','C1','C2']],
            index=[['M','M','M','F','F','F'],['id_1','id_2','id_3','id_1','id_2','id_3']])
df2

           A           B
          C1    C2    C1    C2
M id_1 -1.44 -0.77  0.34 -0.45
  id_2  1.02 -0.55  1.09 -0.68
  id_3  1.87  1.34 -0.15  1.83
F id_1 -0.14  0.43 -0.07 -1.06
  id_2 -0.21  0.49  0.49  1.88
  id_3  0.46 -0.10  1.45 -0.07

In [ ]:
df2.index.names = ['Ridx1','Ridx2']
df2.columns.names = ['Cidx1','Cidx2']
df2

### 열 인덱스와 행 인덱스 교환
`stack`,`unstack` 메서드로 열 인덱스를 행 인덱스로  
또는 행 인덱스를 열 인덱스로 바꿀 수 있음
`stack()` 메서드 : 열 인덱스를 행 인덱스로 변경
`unstack()` 메서드 : 행 인덱스를 열 인덱스로 변경

In [ ]:
df2.stack("Cidx1")

In [ ]:
df3 = df2.stack(1)
df3

In [ ]:
df2.unstack(1)

In [ ]:
df2.unstack(0)