In [ ]:
import pandas as pd
import numpy as np

### 다중 인덱스
데이터프레임에 여러 계층을 가지는 인덱스를 지정할 수 있음
데이터프레임 생성시 `columns` 인수로 다차원 리스트 형태를 지정하면 다중 인덱스로 지정할 수 있음

In [ ]:
df = pd.DataFrame(np.random.randn(5,4).round(2), columns=[['A','A','B','B'],['C1','C2','C1','C2']])
df

데이터 프레임의 `columns`속성의 `names`속성으로 각 열 인덱스에 대한 이름을
부여할 수 있음

In [ ]:
df.columns.names = ['Cidx1','Cidx2']
df

데이터 프레임 생성 시 `index` 인수로 다차원 리스트를 지정하면  
다차원 형태의 행 인덱스를 지정할 수 있음

행 인덱스의 이름은 데이터프레임 인스턴스의 `index` 속성의 `names` 속성으로 지정할 수 있음

In [ ]:
df2= pd.DataFrame(np.random.randn(6,4).round(2), 
            columns=[['A','A','B','B'],['C1','C2','C1','C2']],
            index=[['M','M','M','F','F','F'],['id_1','id_2','id_3','id_1','id_2','id_3']])
df2

In [ ]:
df2.index.names = ['Ridx1','Ridx2']
df2.columns.names = ['Cidx1','Cidx2']
df2

### 열 인덱스와 행 인덱스 교환
`stack`,`unstack` 메서드로 열 인덱스를 행 인덱스로  
또는 행 인덱스를 열 인덱스로 바꿀 수 있음
`stack()` 메서드 : 열 인덱스를 행 인덱스로 변경
`unstack()` 메서드 : 행 인덱스를 열 인덱스로 변경

In [ ]:
df2.stack("Cidx1")

In [ ]:
df3 = df2.stack(1)
df3

In [ ]:
df2.unstack(1)

In [ ]:
df2.unstack(0)

### 다중 인덱스의 인덱싱
다중 인덱스를 가지고 있는 데이터프레임의 경우 하나의 인덱스가 아니라 `()`로 둘러쌓인 튜플이어야 함

In [ ]:
df

In [ ]:
df[('A','C2')]

In [ ]:
df.loc[0,('A','C1')]

만약 튜플로 지정하지 않고 단일 값으로 지정하면 제일 최상단의 인덱스를 지정한 것으로 봄

In [ ]:
df['A']

단, `iloc` 인덱서를 사용할 때는 다중인덱스로 접근할 수 없음

In [ ]:
df2

In [ ]:
df2.loc[('M','id_2')]

In [ ]:
df2.loc[('M','id_2'),('B','C1')]

In [ ]:
df2.loc[:,('A','C2')]

In [ ]:
df2.loc[('All','All'),:] = df2.sum()
df2

In [ ]:
df2.loc['M']

다중인덱스 인덱싱의 튜플 내에서 슬라이싱을 하고 싶다면 `:` 대신 `slice()` 메서드를 사용해야함
`slice(마지막인덱스)`, `slice(시작인덱스,마지막인덱스)`,`slice(시작인덱스,마지막인덱스,스텝)`

In [ ]:
df2.loc[('M',slice(None)), :]

In [ ]:
df2.loc[:,('A',slice(None))]

### 다중 인덱스의 인덱스 순서 변경
다중 인덱스의 순서를 변경하고 싶으면 `swaplevel(i,j,axis)` 메서드를 사용함  
`i`,`j` 인자 : 순서를 변경할 인덱스의 이름 혹은 번호
`axis` 인자 : 0일 경우 행 인덱스, 1일 경우 열 인덱스

In [ ]:
df2

In [ ]:
df2.swaplevel('Ridx1','Ridx2',0)  # 행 인덱스

In [ ]:
df2.swaplevel('Cidx1','Cidx2',1) # 열인덱스

### 다중 인덱스의 정렬
다중 인덱스를 가지고 있는 데이터프레임에서 `sort_index`로 정렬할 때 `level` 인수를 사용하여  
어떤 인덱스 기준으로 정렬할지 지정해야 함

In [ ]:
df2.sort_index(level=0)

In [ ]:
df2.sort_index(level=(1,0))

In [51]:
df2.sort_index(level=1, axis=1)

Cidx1           A     B     A     B
Cidx2          C1    C1    C2    C2
Ridx1 Ridx2
M     id_1   0.18  0.47  0.75  0.48
      id_2  -1.38  0.63  0.28  0.01
      id_3  -0.03 -1.70 -1.06 -0.46
F     id_1  -0.22  0.69  1.47  0.61
      id_2   1.25  0.62  0.59 -0.10
      id_3   0.81  0.68 -0.46  1.02
All   All    1.22  2.78  3.14  3.12

 **파이썬으로 다음 연산을 수행한다.**

A 반 학생 5명과 B반 학생 5명의 국어, 영어, 수학 점수를 나타내는 데이터프레임을 다음과 같이 만든다.

1. “반”, “번호”, “국어”, “영어”, “수학” 을 열로 가지는 데이터프레임 `df_score3`을 만든다.
2. `df_score3`을 변형하여 1차 행 인덱스로 “반”을 2차 행 인덱스로 “번호”을 가지는 데이터프레임 `df_score4`을 만든다.
3. 데이터 프레임 `df_score4`에 각 학생의 평균을 나타내는 행을 오른쪽에 추가한다.
4. `df_score3`을 변형하여 행 인덱스로 “번호”를, 1차 열 인덱스로 “국어”, “영어”, “수학”을, 2차 열 인덱스로 “반”을 가지는 데이터프레임 `df_score5`을 만든다.
5. 데이터 프레임 `df_score5`에 각 반별 각 과목의 평균을 나타내는 행을 아래에 추가한다.