In [20]:
import pandas as pd    # 데이터 조작 및 분석을 위한 라이브러리
import numpy as np     # 데이터 과학과 ,수학계산에 핵심 라이브러리

Datetime 인덱스
시계열 객체인 Series는 시계열 데이터를 관리하는 객체이기 때문에 데이터가 시간에 의해 관리되어저야함  
지금까지는 단순한 인덱스로 사용하였는데 이를 시계열로 표현하기위해서 DatetimeIndex를 사용해야함  
DatetimeIndex는 시계열 인덱스를 사용하기 위한 인덱스이며 판다스.to_datetime, 판다스.date_range 메서드를 사용하여 생성할 수 있음

`to_datetime()` 메서드는 날짜 및 시간을 나타내는   
문자열을 Datetime 자료형으로 변경한 후 `Datetimeindex`를 생성함

In [29]:
date_str = ["2018/ 1/ 1", "2018/ 1/ 4", "2018/ 1/ 5", "2018/ 1/ 6"]
idx = pd.to_datetime(date_str)
idx

DatetimeIndex(['2018-01-01', '2018-01-04', '2018-01-05', '2018-01-06'], dtype='datetime64[ns]', freq=None)

In [14]:
# 시리즈로 변환
# 인덱스 타입: datetime 타입
series = pd.Series(np.random.randn(4),index=idx)
series

2018-01-01   -1.304747
2018-01-04   -0.232038
2018-01-05   -0.092905
2018-01-06   -0.640878
dtype: float64

In [13]:
# 시리즈로 변환
# 인덱스 타입: string 타입
series = pd.Series(np.random.randn(4),index=date_str)
series

2018,1,1   -0.903611
2018,1,4    1.812816
2018,1,5    0.793001
2018,1,6    0.498726
dtype: float64

`date_range` 메서드는 날짜 및 시간에 대해서 시작일과 종료일 / 시작일과 기간을  
입력하여 범위 내의 Datetimeindex를 생성

In [17]:
pd.date_range('2024-01-01','2024-03-31')

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08',
               '2024-01-09', '2024-01-10', '2024-01-11', '2024-01-12',
               '2024-01-13', '2024-01-14', '2024-01-15', '2024-01-16',
               '2024-01-17', '2024-01-18', '2024-01-19', '2024-01-20',
               '2024-01-21', '2024-01-22', '2024-01-23', '2024-01-24',
               '2024-01-25', '2024-01-26', '2024-01-27', '2024-01-28',
               '2024-01-29', '2024-01-30', '2024-01-31', '2024-02-01',
               '2024-02-02', '2024-02-03', '2024-02-04', '2024-02-05',
               '2024-02-06', '2024-02-07', '2024-02-08', '2024-02-09',
               '2024-02-10', '2024-02-11', '2024-02-12', '2024-02-13',
               '2024-02-14', '2024-02-15', '2024-02-16', '2024-02-17',
               '2024-02-18', '2024-02-19', '2024-02-20', '2024-02-21',
               '2024-02-22', '2024-02-23', '2024-02-24', '2024-02-25',
               '2024-02-26', '2024-02-27', '2024-02-28', '2024-02-29',
               '2024-03-01', '2024-03-02', '2024-03-03', '2024-03-04',
               '2024-03-05', '2024-03-06', '2024-03-07', '2024-03-08',
               '2024-03-09', '2024-03-10', '2024-03-11', '2024-03-12',
               '2024-03-13', '2024-03-14', '2024-03-15', '2024-03-16',
               '2024-03-17', '2024-03-18', '2024-03-19', '2024-03-20',
               '2024-03-21', '2024-03-22', '2024-03-23', '2024-03-24',
               '2024-03-25', '2024-03-26', '2024-03-27', '2024-03-28',
               '2024-03-29', '2024-03-30', '2024-03-31'],
              dtype='datetime64[ns]', freq='D')

In [19]:
pd.date_range('2024-01-01',periods=30)

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08',
               '2024-01-09', '2024-01-10', '2024-01-11', '2024-01-12',
               '2024-01-13', '2024-01-14', '2024-01-15', '2024-01-16',
               '2024-01-17', '2024-01-18', '2024-01-19', '2024-01-20',
               '2024-01-21', '2024-01-22', '2024-01-23', '2024-01-24',
               '2024-01-25', '2024-01-26', '2024-01-27', '2024-01-28',
               '2024-01-29', '2024-01-30'],
              dtype='datetime64[ns]', freq='D')

`freq` 인수로 특정한 날짜만 생성되도록 할 수 있음

In [24]:
# s: 초
pd.date_range('2024-02-29 09:48:00','2024-02-29 09:48:10', freq='s')

DatetimeIndex(['2024-02-29 09:48:00', '2024-02-29 09:48:01',
               '2024-02-29 09:48:02', '2024-02-29 09:48:03',
               '2024-02-29 09:48:04', '2024-02-29 09:48:05',
               '2024-02-29 09:48:06', '2024-02-29 09:48:07',
               '2024-02-29 09:48:08', '2024-02-29 09:48:09',
               '2024-02-29 09:48:10'],
              dtype='datetime64[ns]', freq='s')

In [25]:
# B : 평일
pd.date_range('2024-02-01','2024-02-29',freq='B')

DatetimeIndex(['2024-02-01', '2024-02-02', '2024-02-05', '2024-02-06',
               '2024-02-07', '2024-02-08', '2024-02-09', '2024-02-12',
               '2024-02-13', '2024-02-14', '2024-02-15', '2024-02-16',
               '2024-02-19', '2024-02-20', '2024-02-21', '2024-02-22',
               '2024-02-23', '2024-02-26', '2024-02-27', '2024-02-28',
               '2024-02-29'],
              dtype='datetime64[ns]', freq='B')

In [27]:
# Q-DEC : 각 분기별 마지막 날
pd.date_range('2024-01-01','2024-12-31',freq='QE-DEC')

DatetimeIndex(['2024-03-31', '2024-06-30', '2024-09-30', '2024-12-31'], dtype='datetime64[ns]', freq='QE-DEC')

### `shift` 연산
`shift()` 메서드는 인덱스는 그대로 두고 데이터만 이동
`freq` 인수를 지정하면 인덱스를 변경한다

In [35]:
ts = pd.Series(np.random.randn(4), index = pd.date_range('2024-02-01',periods = 4, freq='ME'))
ts

2024-02-29    1.043507
2024-03-31   -1.121243
2024-04-30    0.881573
2024-05-31   -1.661599
Freq: ME, dtype: float64

In [40]:
ts.shift(1)

2024-02-29         NaN
2024-03-31    1.043507
2024-04-30   -1.121243
2024-05-31    0.881573
Freq: ME, dtype: float64

In [42]:
ts.shift(2,freq='ME')

2024-04-30    1.043507
2024-05-31   -1.121243
2024-06-30    0.881573
2024-07-31   -1.661599
Freq: ME, dtype: float64

### `resample` 메서드
`resanple()` 메서드는 `Datetimeindex`의 시간 간격을 재조정함
시간 간격이 좁은 단위로 변경하면 데이터 양이 증가해서 업-샘플링(up-sampling)  
넓은 단위로 변경되면 데이터 양이 감소해서 다운-샘플링 (down-sampling)

In [50]:
ts = pd.Series(np.random.randn(100), index = pd.date_range('2024-01-01',periods = 100) )
ts

2024-01-01    0.221819
2024-01-02    0.762929
2024-01-03    1.936685
2024-01-04   -0.446660
2024-01-05    0.066394
                ...
2024-04-05    0.585244
2024-04-06    1.212515
2024-04-07   -0.112861
2024-04-08   -0.701041
2024-04-09    0.598865
Freq: D, Length: 100, dtype: float64

다운- 샘플링 시에는 기존 데이터가 그룹화되는 경우와 같기 때문에 대표값을 지정해야함
(집계처리를 해야 함)

In [54]:
ts.resample('W').mean()

2024-01-07    0.351385
2024-01-14   -0.082289
2024-01-21    0.156970
2024-01-28    0.372929
2024-02-04    0.329034
2024-02-11   -0.648820
2024-02-18   -0.125101
2024-02-25    0.503557
2024-03-03    0.057748
2024-03-10   -0.254783
2024-03-17   -0.378230
2024-03-24   -0.061740
2024-03-31    0.141166
2024-04-07   -0.024009
2024-04-14   -0.051088
Freq: W-SUN, dtype: float64

시간(시/분) 단위에서는 가장 빠른 값은 포함하고, 가장 늦은 값은 포함하지 않는다.

In [57]:
ts = pd.Series(np.arange(60),index=pd.date_range('2024-02-29',periods=60,freq='min'))
ts

2024-02-29 00:00:00     0
2024-02-29 00:01:00     1
2024-02-29 00:02:00     2
2024-02-29 00:03:00     3
2024-02-29 00:04:00     4
2024-02-29 00:05:00     5
2024-02-29 00:06:00     6
2024-02-29 00:07:00     7
2024-02-29 00:08:00     8
2024-02-29 00:09:00     9
2024-02-29 00:10:00    10
2024-02-29 00:11:00    11
2024-02-29 00:12:00    12
2024-02-29 00:13:00    13
2024-02-29 00:14:00    14
2024-02-29 00:15:00    15
2024-02-29 00:16:00    16
2024-02-29 00:17:00    17
2024-02-29 00:18:00    18
2024-02-29 00:19:00    19
2024-02-29 00:20:00    20
2024-02-29 00:21:00    21
2024-02-29 00:22:00    22
2024-02-29 00:23:00    23
2024-02-29 00:24:00    24
2024-02-29 00:25:00    25
2024-02-29 00:26:00    26
2024-02-29 00:27:00    27
2024-02-29 00:28:00    28
2024-02-29 00:29:00    29
2024-02-29 00:30:00    30
2024-02-29 00:31:00    31
2024-02-29 00:32:00    32
2024-02-29 00:33:00    33
2024-02-29 00:34:00    34
2024-02-29 00:35:00    35
2024-02-29 00:36:00    36
2024-02-29 00:37:00    37
2024-02-29 00:38:00    38
2024-02-29 00:39:00    39
2024-02-29 00:40:00    40
2024-02-29 00:41:00    41
2024-02-29 00:42:00    42
2024-02-29 00:43:00    43
2024-02-29 00:44:00    44
2024-02-29 00:45:00    45
2024-02-29 00:46:00    46
2024-02-29 00:47:00    47
2024-02-29 00:48:00    48
2024-02-29 00:49:00    49
2024-02-29 00:50:00    50
2024-02-29 00:51:00    51
2024-02-29 00:52:00    52
2024-02-29 00:53:00    53
2024-02-29 00:54:00    54
2024-02-29 00:55:00    55
2024-02-29 00:56:00    56
2024-02-29 00:57:00    57
2024-02-29 00:58:00    58
2024-02-29 00:59:00    59
Freq: min, dtype: int32

In [58]:
ts.resample('10min').min()

2024-02-29 00:00:00     0
2024-02-29 00:10:00    10
2024-02-29 00:20:00    20
2024-02-29 00:30:00    30
2024-02-29 00:40:00    40
2024-02-29 00:50:00    50
Freq: 10min, dtype: int32

구간 한계 값을 가장 늦은 값으로 지정하고자 한다면 `closed='right'`를 지정함

In [61]:
ts.resample('10min',closed='right').min()

2024-02-28 23:50:00     0
2024-02-29 00:00:00     1
2024-02-29 00:10:00    11
2024-02-29 00:20:00    21
2024-02-29 00:30:00    31
2024-02-29 00:40:00    41
2024-02-29 00:50:00    51
Freq: 10min, dtype: int32

In [62]:
ts.resample('10min',closed='right').max()

2024-02-28 23:50:00     0
2024-02-29 00:00:00    10
2024-02-29 00:10:00    20
2024-02-29 00:20:00    30
2024-02-29 00:30:00    40
2024-02-29 00:40:00    50
2024-02-29 00:50:00    59
Freq: 10min, dtype: int32

`ohlc()` 메서드는 구간의 시점 , 고점 , 저점 , 종점의 값을 표현

In [ ]:
ts.resample('10min',closed='right').ohlc()

업-샘플링은 데이터를 추가해야하기 때문에 foward filling 방식과  
back filling 방식을 사용할 수 있음  

foward filling은 이전 데이터를 가져와 사용하는 방법 - `ffill()`
back filling은 다음 데이터를 가져와 사용하는 방법 - `bfill()`

In [ ]:
ts.resample('30s').ffill()

In [ ]:
ts.resample('30s').bfill()

### `dt` 접근자
datetime 자료형 시리즈는 `dt` 접근자를 사용하여 datetime 데이터 타입이 가지는   
여러가지 속성 및 메서드를 사용할 수 있음

In [73]:
s= pd.Series(pd.date_range('2024-01-01',periods=10))
s

0   2024-01-01
1   2024-01-02
2   2024-01-03
3   2024-01-04
4   2024-01-05
5   2024-01-06
6   2024-01-07
7   2024-01-08
8   2024-01-09
9   2024-01-10
dtype: datetime64[ns]

`year`, `month`, `day` 와 같은 속성을 사용할 수 있음

In [77]:
s.dt.year

0    2024
1    2024
2    2024
3    2024
4    2024
5    2024
6    2024
7    2024
8    2024
9    2024
dtype: int32

`strftime()` 메서드를 사용하여  
datetime 데이터 타입의 데이터를 문자열 데이터로 변경 할 수 있음

In [78]:
s.dt.strftime('%Y.%M.%d.%H:%M:%s')

0    2024-01-01 00:00:00
1    2024-01-02 00:00:00
2    2024-01-03 00:00:00
3    2024-01-04 00:00:00
4    2024-01-05 00:00:00
5    2024-01-06 00:00:00
6    2024-01-07 00:00:00
7    2024-01-08 00:00:00
8    2024-01-09 00:00:00
9    2024-01-10 00:00:00
dtype: object

 **파이썬으로 다음 연산을 수행한다.**

다음 명령으로 만들어진 데이터프레임에 대해 월별 value의 합계를 구하라. (힌트: `groupby` 메서드와 `dt` 접근자를 사용하라)

```python
np.random.seed(0)
df = pd.DataFrame({
    "date": pd.date_range("2020-12-25", periods=100, freq="D"),
    "value": np.random.randint(100, size=(100,))
})
```

In [ ]:
np.random.seed(0)
df = pd.DataFrame({
    "date": pd.date_range("2020-12-25", periods=100, freq="M"),
    "value": np.random.randint(100, size=(100,))
})
df

In [ ]:
df.date = df.date.dt.month
df

In [119]:
data_groups = df.groupby(df.date).sum()
data_groups

      value
date
1       364
2       463
3       374
4       390
5       423
6       373
7       274
8       395
9       548
10      387
11      428
12      404