In [19]:
import pandas as pd
import numpy as np

### 데이터프레임 고급 인덱싱

판다스 데이터프레임의 인덱싱은 라벨, 라벨 리스트, 행 인덱스 슬라이스의 인덱싱 형태 뿐만 아니라  
넘파이와 같은 `,`를 이용한 `(행 인덱스, 열 인덱스)` 형식의 2차원 인덱스도 제공함

- `loc`  속성 : 라벨 기반의 2차원 인덱서
- `iloc` 속성 : 순서를 나타내는 정수 기반의 2차원 인덱서

### `loc` 인덱서

행 인덱스 값과 열 인덱스 값을 이용하여 인덱싱을 해주는 인덱서

```python
df.loc[행인덱스값]
df.loc[행인덱스값,열인덱스값]
```

In [ ]:
df = pd.DataFrame(np.arange(10,22).reshape(3,4), index=['a','b','c'], columns=['A','B','C','D'])
df

In [ ]:
df.loc['a']     # 시리즈

In [ ]:
df.loc[['a','b']] # 데이터프레임

In [ ]:
df.loc['a':'b'] # 슬라이싱 가능함

In [ ]:
df.loc[['a']]

In [ ]:
df.loc[df.A > 13]

인덱스 값으로 열 인덱스 값을 반환하는 함수를 사용할 수 있음

In [ ]:
def select_rows(df):
    return df.A>12

In [ ]:
df.loc[select_rows(df)] #A가 12보다큰 레코드만 반환해줌

`loc` 없이 인덱싱을 할때는 `[]`에 열 인덱스에 대한 인덱싱을 하였는데 
`loc` 는 열 인덱싱으로 지정할 수 없음

In [ ]:
df.loc['A']   #열에 있는 A를 가져올시에 키 에러가 뜸

`loc` 인덱싱에서 정수로 되어있는 행이라고 할 지라도  
슬라이싱시에 종료 인덱스 값에 대한 결과도 포함하여 출력됨

In [ ]:
df2 = pd.DataFrame(np.arange(10,26).reshape(4,4),columns=['A','B','C','D'])
df2

In [ ]:
df2.loc[0:2] # 원래는 슬라이싱시에 0에서 1까지 출력되어야하는데 2를 직접적으로 읽어 2까지 보여주게 된다

#### 인덱싱 값으로 행과 열 모두 지정

`loc[행인덱스,열인덱스]` 로 행과 열에 대한 인덱싱을 할 수 있음

In [ ]:
df

In [ ]:
df.loc['a','A']

In [ ]:
df.loc['b':,:'A']

In [ ]:
df.loc[df.A > 13, ['B','C']]

### `iloc` 인덱서
`iloc` 인덱서는 `loc` 인덱서와 사용방법은 동일하나  
인덱스로 지정하는 값이 순서를 나타내는 정수 값임

In [20]:
df

    A   B   C   D
a  10  11  12  13
b  14  15  16  17
c  18  19  20  21

In [21]:
df.iloc[0,1]

11

In [22]:
df.iloc[:2,1:]

    B   C   D
a  11  12  13
b  15  16  17

In [23]:
df.iloc[2]

A    18
B    19
C    20
D    21
Name: c, dtype: int32

**파이썬으로 다음 연산을 수행한다.**

- 데이터베이스에 있는 real_estate 데이터베이스의 officetel_estate 테이블을 데이터 프레임으로 가져옴

1. 상위 10개에 대한 레코드를 가지는 데이터프레임을 생성

2. locale이 seoul_downtown 인 레코드를 가지는 데이터프레임을 생성

3. between_lease_and_lease_deposit_ratio 가 10 이상인 레코드의 locale,base_month 컬럼만 가지는 데이터프레임을 생성

In [ ]:

import mysql.connector




practice_df = None

try:
    conn = mysql.connector.connect( #값이 초기화 되지않는 값으로 선언
        host='127.0.0.1',
        user='root',
        password='root',
        database='real_estate'
    )

    if conn.is_connected():
        SQL = 'SELECT * FROM officetel_estate'   # 저장된 쿼리 불러오기  
        practice_df = pd.read_sql_query(SQL, conn, index_col='sequence')
        
except Exception as e:   #예외가 발생하면 e로 받아오고
    pass
finally:
    if conn.is_connected():
        conn.close()

practice_df

In [ ]:
#1. 상위 10개에 대한 레코드를 가지는 데이터프레임을 생성
practice_df[:10]

In [ ]:
# locale이 seoul-downtown 인 레코드를 가지는 데이터프레임을 생성
practice_df.loc[practice_df.locale == 'seoul-downtown']

In [ ]:
# between_lease_and_lease_deposit_ratio가 10 이상인 레코드의 locale, base_month 컬럼만 가지는 데이터프레임을 생성
practice_df.loc[practice_df.between_lease_and_lease_deposit_ratio >= 10, ['locale', 'base_month']]