In [ ]:
# 리스트에 요소 추가하기
# 리스트 객체에 append(요소) 메소드를 사용하여 요소를 추가할 수 있음
# 리스트 객체에 insert (인덱스, 요소) 메서드를 사용하여 특정 인덱스에 요소를 삽입 할 수 있음
# 리스트 객체에 extend(리스트) 메서드를 사용하여 매개변수로 전달할 리스트를 확장 할 수 있음

In [ ]:
# 리스트 복수 할당
# 변수를 ,로 구분하여 대입 연산자 좌항으로 나열하여 리스트에 있는 요소를 분리해서 대입 할 수 있음

In [4]:
numbers = [1,2,3]

number1, number2, number3 = numbers

print (f'{number1} {number2} {number3}')

1 2 3

In [5]:
# 만약 복수 할당할 변수의 개수가 리스트 요소의 개수와 같지 않다면 오류가 발생
number1, number2 = numbers

ValueError: too many values to unpack (expected 2)

In [ ]:
# enumerate()
# 리스트를 인덱스, 요소 묶음으로 만들어주는 내장 함수

In [ ]:
for index, item in enumerate(numbers):
    print(f'인덱스 : {index}, 요소 : {item}')

In [ ]:
# zip()
# 두개의 리스트를 동일한 인덱스의 값을 묶어서 새로운 리스트를 생성

In [13]:
names = ['김이준', '이서아', '박도윤', '최이서', '정하준', '강아윤', '조은우', '윤지아', '장서준', '임하윤']

In [14]:
names

['김이준', '이서아', '박도윤', '최이서', '정하준', '강아윤', '조은우', '윤지아', '장서준', '임하윤']

In [15]:
scores = [70,85,60,55,90,100,100,65,75,40]
scores

[70, 85, 60, 55, 90, 100, 100, 65, 75, 40]

In [16]:
name_scores = list(zip(names,scores))
name_scores

[('김이준', 70),
 ('이서아', 85),
 ('박도윤', 60),
 ('최이서', 55),
 ('정하준', 90),
 ('강아윤', 100),
 ('조은우', 100),
 ('윤지아', 65),
 ('장서준', 75),
 ('임하윤', 40)]

In [ ]:
# 중첩 리스트
# 요소로 리스트를 가지고 있는 리스트
# 종류 : overlappings

In [21]:
overlappings = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

overlappings[0]            #0번 인덱스의 값을 가져올때 (배열을 가져옴)

[1, 2, 3]

In [20]:
overlappings[0][1]          #0 하고 1 2개를 입력시 1배열에 1번을 가져옴

2

In [22]:
items = overlappings[0]
items

[1, 2, 3]

In [23]:
# overlappings[0][1] 와 같은 의미
items[1]

2

In [ ]:
# 평균 평점을 구하는 함수
# 함수의 매개변수로 grades, credits 리스트를 입력 받고
# 평균 평점을 gpa를 반환하는 함수를 작성하시오.
# 단, grades와 credits의 길이가 서로 다르다면 -1을 반환하시오.

In [37]:
def getGpa(grades, credits):
    if len(grades) != len(credits):
        return -1
    
    credits_sum = 0  # 이수 학점의 총합
    weight_sum = 0   # 가중치 총합
    
    # [ (4,3), (3,3),(2,1),(3,2),(4,2)]
    for grade, credit in zip(grades, credits):
        credits_sum += credit
        weight_sum += credit * grade

    # 평균 평점 = (가중치 총합) / (이수 학점의 총합)
    gpa = round(weight_sum / credits_sum, 2)
    return gpa

In [39]:
grades = [4,3,2,3,4]
credits = [3,3,1,2,2]
getGpa(grades,credits)
getGpa

In [47]:
# x = ['길동',90],['철수',80],['영수',70],['방자',60]
# 복수 할당과 zip 함수를 사용하여 이름만 존재하는 x_names 리스트 변수를 생성하시오.

x =  [
     ['길동',90],
     ['철수',80],
     ['영수',70],
     ['방자',60]
    ]
x = list(zip(*x))
x[0]

('길동', '철수', '영수', '방자')

In [51]:
x_names,x_scores = x
x_names                 # 여기까지는 튜플형태임으로            () 형태
x_names= list(x_names)  # 리스트를 사용해서 리스트로 형 변환   [] 형태
x_names

['길동', '철수', '영수', '방자']

In [53]:
# 딕셔너리
# key, value를 하나의 쌍으로 관리하는 자료형
# 순서가 존재하지 않고 key는 중복을 허용하지 않으며, value 는 중복될 수 있음
# 딕셔너리변수 = {key1:value1, key2:value2,....}
# key는 어떠한 자료형이든 가능

eng_dictionary = {'apple':'사과' , 'banana':'바나나', 'carrot':'당근'}

eng_dictionary

3

In [ ]:
len(eng_dictionary) #갯수를 볼 수 있음

In [57]:
# 딕셔너리의 특정 요소에 접근할 때는 딕셔너리변수 [키]로 값을 가져올 수 있음 접근 가능
eng_dictionary['apple']

'사과'

In [58]:
# 딕셔너리 자료 쌍의 개수
# len(딕셔너리 변수)를 사용하여 자료 쌍의 개수를 구할 수 있음
len(eng_dictionary)

3

In [ ]:
# 딕셔너리 valuse 변경
# 딕셔너리[키] = 변경할 값

In [60]:
# 값 변경
eng_dictionary['banana'] = '버네너' 
eng_dictionary

{'apple': '사과', 'banana': '버네너', 'carrot': '당근'}

In [62]:
# 딕셔너리 요소 추가
# 딕셔너리[추가할 키] = 추가할 값
eng_dictionary ['delete'] = '삭제'
eng_dictionary

{'apple': '사과', 'banana': '버네너', 'carrot': '당근', 'delete': '삭제'}

In [63]:
# 딕셔너리의 update 메서드
# 추가, 수정 작업을 딕셔너리로 지정하여 작업하는 것

eng2_dictionary = {'banana':'바나나', 'electricity':'전기'}

In [75]:
eng_dictionary.update(eng2_dictionary) #을 사용하여 갱신 및 수정 가능함
eng_dictionary

{'apple': '사과', 'banana': '바나나', 'carrot': '당근', 'electricity': '전기'}

In [76]:
# 딕셔너리 요소 삭제
# del 명령어를 사용하여 제거

# del eng_dictionary['전기']  값을 제거하는 것이아닌 키를 제거하는 것이기에 사용 불가능
del eng_dictionary ['electricity']
eng_dictionary

{'apple': '사과', 'banana': '바나나', 'carrot': '당근'}

In [80]:
eng_dictionary.pop('delete')
eng_dictionary

KeyError: 'delete'

In [ ]:
# 반복 가능 객체에 요소 존재여부 확인
# in 연산자를 통해서 특정 요소가 해당 객체에 존재하는지 여부 확인 가능

In [84]:
numbers

[1, 2, 3]

In [83]:
eng_dictionary

{'apple': '사과', 'banana': '바나나', 'carrot': '당근'}

In [87]:
5 in numbers                 # 5번째 인덱스에는 값이 존재하지 않기에 false

False

In [88]:
'carrot' in eng_dictionary   # carrot이 존재하면 True

True

In [93]:
# 딕셔너리를 반복문에서 사용
# 키만 사용 : for key in 딕셔너리.keys():
# 값만 사용 : for value in 딕셔너리.values():
# 키와 값 모두 사용 : for key, value in 딕셔너리.items():

# key(): 딕셔너리의 key 값들을 튜플로 반환
# values(): 딕셔너리의 value 값들을 튜플로 반환
# items(): 딕셔너리의 key, value 쌍들을 튜플로 반환

for key in eng_dictionary.keys():
   
    print(key)

apple
banana
carrot

In [94]:
for value in eng_dictionary.values():
   
    print(value)

사과
바나나
당근

In [110]:
for key,value in eng_dictionary.items():
   
    print(f'key:{key}, value:{value}')

key:apple, value:사과
key:banana, value:바나나
key:carrot, value:당근

In [113]:
data = {'철수': '98', '영희':'80' , '순이' :'100' , "돌이": '70'}

for key,value in data.items():
   print(f'key:{key}, value:{value}')

key:철수, value:98
key:영희, value:80
key:순이, value:100
key:돌이, value:70

In [ ]:
sum=0

for key, value in data.items():
    print(f'{key}\t\t{value}')

sum += value
avg = round(sum/len(data))
print('=========')
print(f'평균\t\t{sum/len(data)}')

print(avg)